<h2 id="projects">projects</h2>
<ul>
    <li class="newsitem">
        <span class="bullet"><i class="fa-solid fa-flask"></i></span>Associate Researcher at <a href="https://snd.sorbonne-universite.fr/giada-pistilli/">Sciences, Normes, Démocraties</a> at <a href="https://www.sorbonne-universite.fr/">Sorbonne Université</a> and <a href="https://www.cnrs.fr/">Centre National de la Recherche Scientifique</a> (CNRS) lab.
    </li>

    <li class="newsitem">
        <span class="bullet"><i class="fa-solid fa-brain"></i></span>Research Affiliate at <a href="https://mintresearch.org/people-mint/giada-pistilli">Machine Intelligence and Normative Theory</a> lab.
    </li>

    <li class="newsitem">
        <span class="bullet"><i class="fa-solid fa-users"></i></span>Co-chair of the Ethical and Legal Scholarship working group of the <a href="https://bigscience.huggingface.co">BigScience</a> open science project, that developed and deployed the Multilingual Large Language Model <a href="https://huggingface.co/bigscience/bloom">BLOOM</a>.
    </li>

    <li class="newsitem">
        <span class="bullet"><i class="fa-solid fa-book"></i></span>Co-editor with Michel Puech of the special issue "<a href="https://mimesisjournals.com/ojs/index.php/giornale-filosofia/issue/view/114">Technology and Constructive Critical Thought</a>" for the peer-reviewed journal <a href="https://mimesisjournals.com/ojs/index.php/giornale-filosofia/index">Giornale di Filosofia</a>.
    </li>

    <li class="newsitem">
        <span class="bullet"><i class="fa-solid fa-book"></i></span>Co-editor with Julien De Sanctis of the special issue "<a href="https://www.implications-philosophiques.org/dossier-pour-une-ethique-de-linteraction-humain-machine/">For an Ethics of the Human-Machine Interaction</a>" for the peer-reviewed journal <a href="https://www.implications-philosophiques.org/">Implications Philosophiques</a>.
    </li>
</ul>

