{% if include.top %}
<ul class="socials">
{% else %}
<ul class="socials right-socials">
{% endif %}

{% if include.top %}
<li class="social">
{% else %}
<li class="social right-social">
{% endif %}
    <a href="mailto:hello@giadapistilli.com" title="Email me" style="text-decoration:none">
      <i class="fa-solid fa-envelope"></i>
    </a>
  </li>

{% if include.top %}
<li class="social">
{% else %}
<li class="social right-social">
{% endif %}
    <a href="//x.com/GiadaPistilli" title="Follow me on X" style="text-decoration:none" rel="me">
      <i class="fa-brands fa-x-twitter"></i>
    </a>
  </li>

  {% if include.top %}
  <li class="social">
  {% else %}
  <li class="social right-social">
  {% endif %}
    <a href="//linkedin.com/in/giada-pistilli-295a36a1" title="Connect on LinkedIn" style="text-decoration:none" rel="me">
      <i class="fab fa-linkedin" aria-hidden="true"></i>
    </a>
  </li>

  {% if include.top %}
  <li class="social">
  {% else %}
  <li class="social right-social">
  {% endif %}
    <a href="//scholar.google.com/citations?user=PEjoN0wAAAAJ" title="View my Google Scholar profile" style="text-decoration:none" rel="me">
      <i class="ai ai-google-scholar" aria-hidden="true"></i>
    </a>
  </li>

  {% if include.top %}
  <li class="social">
  {% else %}
  <li class="social right-social">
  {% endif %}
    <a href="//orcid.org/0000-0003-4941-0505" title="View my ORCID profile" style="text-decoration:none" rel="me">
      <i class="ai ai-orcid" aria-hidden="true"></i>
    </a>
  </li>

{% if include.top %}
    <li class="social">
      <a href="#here">
      <i class="fa-solid fa-moon" id="dark" onclick="myFunction(this.id)"></i>
      </a>
    </li>
{% endif %}
</ul>
